body{
    background-image: url("../img/resim2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    font-style: italic;
}

.menu{
    background-color: aqua;
    padding: 1rem;

}
.menu a{
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.menu a:hover{
    color: rgb(43, 226, 70);

}

.icerik{
    background-color: rgba(229, 215, 197, 0.637);
}
.icerik p{
    padding: 1rem;
}
.tablo h2{
    font-style: italic;
}
.tablo table{
    background-color: beige;
}
table,th,td{
    border: 1px solid black;
    
}